<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.net>
    <!--With a reference to the CustomProxyAssembly.dll, setup the custom
        proxy instance with the below configuration 
    -->
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type = "CustomProxyAssembly.NTLMProxy, CustomProxyAssembly" />
    </defaultProxy>
  </system.net>

  <appSettings>
    
    <!-- Add the below setting Key/Values to configure your 
          NTLMProxy with your environment values
    -->
    <add key="proxyUsername" value="YOUR_AUTH_NAME" />
    <add key="proxyPassword" value="YOUR_AUTH_PASSWORD" />
    <!-- Uncomment to use DOMAIN for NetworkCredentials
    <add key="proxyDomain" value="YOUR_DOMAIN" /> 
    -->
    <add key="proxyServer" value="http://YOUR_PROXY_HOST:YOUR_PROXY_PORT" />
    <add key="proxyBypass" value="localhost,another_server,your_intranet_host" />
  </appSettings>
</configuration>